@using EqnestrianBooking.Models
@model Coach
@{
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 馬場預約系統 登入頁面</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/trip.min.css" rel="stylesheet" type="text/css" />
    
   


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>

   <script  src="@Url.Content("~/Scripts/trip.min.js")"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>




<body background="@Url.Content("~/Content/loginBack.jpg")">

    <div class="text-center">
        <div class="container">
            <div class="main">
                <form class="form" method="post" action="#">
                    <h2>請先登入</h2>
                    <label>Email :</label>
                    <input type="text" name="demail" id="email">
                    <label>Password :</label>
                    <input type="password" name="password" id="password">
                    <input type="button" name="login" id="login" value="Login">
                    <img src="@Url.Content("~/Content/ajax-loader.gif")" alt="loading" />
                    <label id="loadingText">讀取中..</label>
                </form>
            </div>
        </div>
    </div>

    <!--<div class="container">
        <div class="row">
            <div class="span4 offset4 well">
                <legend>登入</legend>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        @Html.ValidationSummary()
                    </div>
                }

                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.TextBoxFor(x => x.CoachName, new { @class = "span4", placeholder = "帳號", AutoComplete = "Off", tabindex = "1" })
                    @Html.PasswordFor(x => x.CoachName, new { @class = "span4", placeholder = "密碼", AutoComplete = "Off", tabindex = "2" })



                    <div style="padding-top: 10px;">
                        <button type="submit" name="submit" class="btn btn-primary">登入</button>
                        <button type="button" name="reset" class="btn">清除</button>
                    </div>
                }
            </div>
        </div>
    </div>
        -->

    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - Test</p>
    </footer>


</body>
</html>

<style>

  

    h2 {
        text-align: center;
        font-size: 24px;
    }

    body {         
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }

    hr {
        margin-bottom: 30px;
    }

    div.container {
        width: 960px;
        height: 480px;
        margin: 0px auto;
        font-family: 'Droid Serif', serif;
        position: relative;
    }

    div.main {
        width: 320px;
        //margin-top: 80px;
        margin: 70px auto;
        //float:left;
        padding: 10px 55px 40px;
        background-color: #f2f2f2;
        //border: 15px solid white;
        box-shadow: 0 0 10px;
        border-radius: 2px;
        font-size: 13px;
    }

    input[type=text], [type=password] {
        width: 97.7%;
        height: 34px;
        padding-left: 5px;
        margin-bottom: 20px;
        margin-top: 8px;
        box-shadow: 0 0 5px #808080;
        border: 2px solid #cccccc;
        color: #4f4f4f;
        font-size: 16px;
    }

    label {
        color: #464646;
        text-shadow: 0 1px 0 #fff;
        font-size: 14px;
        font-weight: bold;
    }

    #login {
        width: 100%;
        background: linear-gradient(#cccccc 5%, #d9d9d9 100%);
        border: 1px solid #404040;
        font-size: 20px;
        margin-top: 15px;
        padding: 8px;
        font-weight: bold;
        cursor: pointer;
        color: white;
        text-shadow: 0px 1px 0px #13506D;
    }

        #login:hover {
            background: linear-gradient(#808080 5%, #666666 100%);
        }


</style>


<script>
    $(document).ready(function () {

        var options = {
            tripTheme: 'dark', delay: -1, showNavigation: true, animation: 'fadeInUp', tripBlockHTML: [
       '<div class="trip-block">',
	        '<a href="#" class="trip-close"></a>',
	        '<div class="trip-header"></div>',
	        '<div class="trip-content"></div>',          
	        '<div class="trip-progress-wrapper">',         
             
	          '<a href="#" class="trip-prev"></a>',
	          '<a href="#" class="trip-next"></a>',
	        '</div>',
	      '</div>'],
            finishLabel: '完成教學',
            prevLabel: '上一步',
            nextLabel:'下一步'
        }; // details about options are listed in next chapter
        var trip = new Trip([
          {
              sel: $('#email'),
              content: '請先輸入預設帳號: admin',
              position: "n",
              expose: true
          },
          {
              sel: $('#password'),
              content: '然後輸入密碼: 123',
              position: "n",
              expose: true
          },
          {
              sel: $('#login'),
              content: '請按登入',
              position: "n"
          }
        ], options);

        trip.start();


        //隱藏讀取畫面
        $("img").hide();
        $("#loadingText").hide();

        $("#login").click(function () {
            var email = $("#email").val();
            var password = $("#password").val();
            // Checking for blank fields.
            if (email == '' || password == '') {
                $('input[type="text"],input[type="password"]').css("border", "2px solid red");
                $('input[type="text"],input[type="password"]').css("box-shadow", "0 0 3px red");
                alert("請隨便填東西");
            } else {

                $.ajax({
                    type: 'POST',
                    url: "@Url.Content("~/LogIn/Login")",
                    data: "acc=" + email + "&Password=" + password,

                    error: function (xhr) {
                        //顯示錯誤訊息
                        alert(xhr.responseText);
                    },
                    success: function (data) {
                        window.location = "@Url.Content("~/Home/Index")"
                       // alert(data);
                    }
                });

                /*

                $.post("/Login/Login", { email1: email, password1: password },
                    function (data) {
                        if (data == 'Invalid Email.......') {
                            $('input[type="text"]').css({ "border": "2px solid red", "box-shadow": "0 0 3px red" });
                            $('input[type="password"]').css({ "border": "2px solid #00F5FF", "box-shadow": "0 0 5px #00F5FF" });
                            alert(data);
                        } else if (data == 'Email or Password is wrong...!!!!') {
                            $('input[type="text"],input[type="password"]').css({ "border": "2px solid red", "box-shadow": "0 0 3px red" });
                            alert(data);
                        } else if (data == 'Successfully Logged in...') {
                            $("form")[0].reset();
                            $('input[type="text"],input[type="password"]').css({ "border": "2px solid #00F5FF", "box-shadow": "0 0 5px #00F5FF" });
                            alert(data);
                        } else {
                            //$(this).attr('disabled', true);
                            //var data = { ReservationId: event.id, StartDate: event.start.format(), EndDate: (event.end) ? event.end.format() : null };
                            
                        }
                    });*/
            }
        });


        //loading
        $(document).ajaxStart(function () {
            //  alert("Triggered ajaxStart handler.");
            $('input[name="login"]').html('');
            $("img").show();
            $("#loadingText").show();


        });


    });


</script>